<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Title</title>
    <style>
        body {
            font-family: Helvetica neue,Helvetica,Arial,Verdana,sans-serif;
        }
        .title {
            text-transform: uppercase;
            color: red;
        }
        .title-content {
            width: 100%;
            border-bottom: 2px solid #f7f7f7;
            text-align: center;
        }
        .body-content {
            width: 100%;
            padding: 10px;
            line-height: 1.6rem;
            text-align: center;
        }
        .name {
            text-transform: uppercase;
            text-align: center;
        }
        .btn-reset {
            background-color: #108ee9;
            border: #108ee9;
            color: white;
            border-radius: 8px;
            padding: 16px;
            cursor: pointer;
            text-decoration: none;
        }
        .footer {
            margin-top: 10px;
            border-top: 2px solid #f7f7f7;
            text-align: center;
            padding: 16px;
            color: #3d495c;
        }
    </style>
</head>
<body>
<div>
    <div class='title-content'>
        <h1 class='title'>Commerce-teracom</h1>
    </div>
    <div>
        <div class='name'>
            <h2>Your Account</h2>
        </div>
        <div class='body-content'>
            <span>To track your order please login through your email and this password: {{password}} in Website Commerce Teracom</span>
        </div>
    </div>
    <div class='footer'>
        <i>Message send from Website Commerce Teracom</i>
    </div>
</div>
</body>
</html>